.projetos {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  gap: 100px;
}

.projetos .subtitulo {
  color: #e0e0e0;
}

.projetos-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.projetos-texto strong {
  color: #141414;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 60px;
  border-radius: 4px;
  position: relative;
}

.projeto::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #c7dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.projeto-ano {
  position: absolute;
  top: 23px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.9rem;
}

.projeto-titulo {
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: bold;
}

.projeto-texto {
  font-size: 1rem;
  line-height: 1.4;
  color: #525252;
}

.projeto-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.projeto-habilidade li {
  font-size: 0.9rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .projetos .subtitulo {
    color: #141414;
  }
  .projetos-texto {
    font-size: 1.25rem;
  }
  .projeto-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .projeto-ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 400px) {
  .projeto {
    grid-template-columns: 1fr;
  }
}
